.profile_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  width: 230px;
  height: 200px;
  margin-left: 18px;
  padding: 10px;
  font-family: Roboto;
}
.profile_img {
  width: 70px;
  margin-bottom: 8px;
}
.profile_h1 {
  color: #4f46e5;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
}
.profile_p {
  color: #2c364c;
  font-size: 14px;
}

.Failure_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 230px;
  height: 200px;
  margin-left: 18px;
  padding: 10px;
  font-family: Roboto;
}
.Failure_button {
  background-color: #4f46e5;
  border-radius: 4px;
  padding: 10px;
  width: 80px;
  color: white;
  border: 0px;
}

@media all and(max-width:567px) {
  .profile_container {
  }
}

@media all and(min-width:768px) {
}
